*
  margin 0
  padding 0
  box-sizing border-box
  font-size 12px
  font-family "微软雅黑", "MicrosoftYaHei", "Helvetica Neue", Helvetica, Arial, sans-serif
  color #333333
body, html, #app
  color #333333
  font-size 12px
  height 100%
  .index_wrapper
    width 100%
    min-width 1200px
    height 100%
input
  outline none
  border 1px solid #e0e0e0!important
  font-size 14px
  border-radius 5px
  padding-left 5px
input::-webkit-input-placeholder
  color #666e79
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance none
input[type="number"]
  -moz-appearance textfield
button,select
  outline none
  border none
placeholder
  color #666e79
select
  appearance none
  -webkit-appearance none
  background none
  border 1px solid #acbaca
  padding-left 5px
ul,li
  list-style none
a
  text-decoration none
table
  border-collapse collapse
  border-spacing 0
iframe
  display none
//提示框公共样式重置
.el-message-box
  border none
.el-message-box__header
  position relative;
  width 100%;
  height 48px;
  line-height 48px;
  text-align center;
  color: #fff;
  background: #e2231a;
  -webkit-box-shadow: 0 3px 5px 0 rgba(226,35,26,0.5);
  box-shadow: 0 3px 5px 0 rgba(226,35,26,0.5);
  .el-message-box__title span
    color #ffffff
    font-size 16px;
    letter-spacing 5px;
  .el-message-box__headerbtn
    .el-icon-close:before
      color #ffffff
.el-message-box__btns
  .el-button--primary
    background-color #e2231a;
    border none;
    span
      color #ffffff



